<div class="flex column" style="align-items: center;">
    <h1 class="color3" style="text-align: center; margin: 0;">
        {{page.cartegory}}
    </h1>
    {% include search.html %}
    <div style="font-weight:lighter; color: lightslategray;">"위의 SKILL 목록에서 TAG를 선택할 수 있습니다"</div>
    <div class="flex" style="justify-content: space-evenly; width: 50%; ">
        <h2 class="color2" style="margin-inline: 2%;">#REACT</h2>
        <h2 class="color2" style="margin-inline: 2%;">#VUE</h2>
        <h2 class="color2" style="margin-inline: 2%;">#ANGULAR</h2>
    </div>
</div>