<div class="center" style="width: 100%;">
    <div class="resize-profile flex shadow1" style=" align-items: center;
    background-color: white; border-radius: 3px;
    justify-content: space-evenly;
    ">
       <img class="profile-image" src="../assets/images/profile.png" height="300px" width="300px"/>
       <div class="resize-text flex column">
            <h2 style="font-weight: bold; margin: 0; padding: 0;">이 준범(LEE JUNE BEOM)</h2>
            <h3 class="color3" style="margin: 0;">Full Stack Software Engineer & Designer</h3>
            <div><span class="accent1" style="padding-inline: 1%;"> E-MAIL : CREAT.BLIV@GMAIL.COM</span></div>
            <div class="light"> DEPARTMENT : ELECTRONICS</div>
            <div class="color4 light"> 취미 : 글 / 그림 / 작곡 / 코딩</div>
            {% include stat.html %} 
       </div>
    </div>
</div>