<div class="flex box">
    <input class="resize-search" type="text" placeholder="아직 완성되지 않았습니다.">
    <div class="button1">검색</div>
</div>

<style>
    .box{display: flex; width: 50%; justify-content: center;}
    input{width: 80%; border: 1px solid lightgray; border-radius: 2px; text-align: center;}
    .button1{width: 20%; margin-left: 1%; text-align: center; background-color: var(--color1); color: aliceblue; padding: 2%; border-radius: 2px;}
    .button1:hover{background-color: var(--color2);}
</style>